{% extends 'core/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-table"></i> Lista de Produtos</div>
    <div class="card-body">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-info" role="button" href="{% url 'product:product_new' %}">Novo Produto</a>
    </div>
    <hr size="30"> 
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Valor de Venda</th>
              <th>Valor da Custo</th>
              <th>Descrição</th>
              <th style="max-width:1%">Ações</th> 
            </tr>
          </thead>
        
          <tbody>
            {%for product in object_list%}
            <tr>
                    <td>{{product.name}}</td>
                    <td>R$ {{product.sale_price}}</td>
                    <td>R$ {{product.cost_price}}</td>
                    <td>{{product.description}}</td>
                    <td>
                        <a style="margin-right:5px" href="{% url 'product:product_update' product.pk %}"><span class="ion-edit"></span></a>
                        <form method="POST" id="form_delete" action="{% url 'product:product_delete' product.pk %}">
                           {% csrf_token %}
                           <a onclick="deleteItem()" href="#" id="btn_delete"><span class="ion-close-round"></span></a>
                        </form>
                    </td>
            </tr>    
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>

{% if messages %}
    {% for m in messages %}
    <div id="message" style="visibility: hidden">
      <p>{{m}}</p>
    </div>
    {% endfor %}
{% endif %}
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script>

  
  $( document ).ready(function() {
    var message = $('#message p').text();
    if(message){
      toastr.options.timeOut = 10000;
      return toastr.success(message);
    }
    if(localStorage.getItem("Deleted"))
    {
      localStorage.clear();
      toastr.options.timeOut = 10000;
      return toastr.success('O item foi excluído');
    }
  });
  
   function deleteItem(pk){
      bootbox.confirm({
      message: "Você deseja realmente excluir esse produto?",
      buttons: {
          confirm: {
              label: 'Sim',
              className: 'btn-success'
          },
          cancel: {
              label: 'Não',
              className: 'btn-danger'
          }
      },
      callback: function (result) {
          if(result){
            document.getElementById('form_delete').submit();  
          }
          
      }
      });
  }


</script>
{% endblock %}

