{% extends 'core/base.html' %}

{% block content %}

<div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-table"></i> Lista de Produtos</div>
    <div class="card-body">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-info" role="button" data-toggle="modal" data-target="#modal" href="{% url 'product:product_new' %}">Novo</a>
        
        
    </div>
    <hr size="30"> 
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>                   
              <th>Nome</th>
              <th>Valor de Venda</th>
              <th>Valor da Custo</th>
              <th>Descrição</th>
            </tr>
          </thead>
        
          <tbody>
            {%for product in object_list%}
            <tr>
                    <td>{{product.name}}</td>
                    <td>R$ {{product.sale_price}}</td>
                    <td>R$ {{product.cost_price}}</td>
                    <td>{{product.description}}</td>
            </tr>    
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>

<div class="modal fade" id="modal"></div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
  $(document).ready(function () {
    $('#modal').on('show.bs.modal', function (event) {
        var modal = $(this)
        $.ajax({
            url: "{% url 'product:product_new' %}",
            context: document.body
        }).done(function(response) {
            modal.html(response);
        });
    })
  });
    
</script>



{% endblock %}

