{% extends 'core/base.html' %}
{% load bootstrap %}
{% block content %}

    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Adicionar Venda </div>
            <div class="card-body">
            <form method="POST" class="post-form">{% csrf_token %}
                {% for field in form %}
                    {{field | bootstrap}}
                    {% if field.name == 'product' %}
                    
                    {% endif %}
                {% endfor %}                
                <button type="submit" class="save btn btn-default">Salvar</button>
            </form>
            </div>
    </div>

{% endblock %}