{% extends 'core/base.html' %}
{% load staticfiles %}
{% load tz %}
{% block content %}



<div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-table"></i> Lista de Vendas</div>
    <div class="card-body">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-info" role="button" href="{% url 'order:order_new' %}">Nova Venda</a>
    </div>
    <hr size="30">
      <div class="table-responsive">
        <table class="table table-sm" id="dataTable" width="100%" style="font-size:15px" cellspacing="0">
          <thead>
            <tr>
              <th>Data do Pedido</th>
              <th>Cliente</th>
              <th>Valor da Venda</th>
              <th>Produto</th>
              <th>Quantidade</th>
              <th>Descrição</th>
              <th>Data de Entrega</th>
              <th>Entregue</th>
              <th>Cancelado</th>
              <th style="max-width:1%">Ações</th>
            </tr>
          </thead>

          <tbody>
            {%for order in object_list%}
            {% if order.delivered == True %}
              <tr class="table-success">
            {% else %}
              <tr class="table-danger">
            {% endif %}

                    <td>{{order.order_date | date:'d-m-Y'}}</td>
                    <td>{{order.client.name}}</td>
                    <td>{{order.sale_price}}</td>
                    <td>{{order.product.name}}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.description}}</td>
                    <td>{{order.delivered_date | date:'d-m-Y'}}</td>

                    {% if order.delivered == True %}
                        <td align="center"><i class="fa fa-fw fa-check"></i></span></td>
                    {% else %}
                        <td align="center"><i class="fa fa-fw fa-minus"></i></span></td>
                    {% endif %}
                    {% if order.canceled == True %}
                        <td align="center"><i class="fa fa-fw fa-close"></i></span></td>
                    {% else %}
                        <td align="center"><i class="fa fa-fw fa-minus"></i></span></td>
                    {% endif %}

                    <td>
                        <a style="margin-right:5px" href="{% url 'order:order_update' order.pk %}"><span class="ion-edit" style="color:#000000"></span></a>
                        <form method="POST" id="form_delete_{{order.pk}}" action="{% url 'order:order_delete' order.pk %}">
                           {% csrf_token %}
                           <a onclick="deleteItem({{order.pk}})" href="#" id="btn_delete"><span class="ion-close-round" style="color:#000000"></span></a>
                        </form>
                    </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>

{% if messages %}
    {% for m in messages %}
    <div id="message" style="visibility: hidden">
      <p>{{m}}</p>
    </div>
    {% endfor %}
{% endif %}
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script>


  $( document ).ready(function() {
    var message = $('#message p').text();
    if(message){
      toastr.options.timeOut = 10000;
      return toastr.success(message);
    }
    if(localStorage.getItem("Deleted"))
    {
      localStorage.clear();
      toastr.options.timeOut = 10000;
      return toastr.success('O item foi excluido');
    }
  });


  function deleteItem(pk){
      var form_id = 'form_delete_'+pk;
      bootbox.confirm({
      message: "Você deseja realmente excluir essa venda?",
      buttons: {
          confirm: {
              label: 'Sim',
              className: 'btn-success'
          },
          cancel: {
              label: 'Não',
              className: 'btn-danger'
          }
      },
      callback: function (result) {
          if(result){
            document.getElementById(form_id).submit();
          }

      }
      });
  }


</script>

{% endblock %}
