{%extends 'core/base.html'%}
{% load staticfiles %}

{% block content %}
<link rel='stylesheet' type='text/css' href='{% static "fullcalendar-3.9.0/fullcalendar.css" %}' />
<script type='text/javascript' src='{% static "fullcalendar-3.9.0/lib/moment.min.js" %}'></script>
<script type='text/javascript' src='{% static "fullcalendar-3.9.0/fullcalendar.js" %}'></script>
<script type='text/javascript' src='{% static "fullcalendar-3.9.0/locale/pt-br.js" %}'></script>

<script type="text/javascript">
  $(document).ready(function() { // Page is ready.
      // Initialize the calendar.
      $('#calendar').fullCalendar({
        defaultView: 'month',
        lang: 'pt-br'
        
      });
  });
  
</script>

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <!-- Icon Cards-->
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
          <div class="card-body">
            <h5 class="card-title" style="color:#ffffff">TOTAL VENDIDO</h5>
            <h6 class="card-subtitle" style="color:#ffffff">{{start_date}} à {{end_date}}</h6>
            <hr>
            <h3 class="card-title" style="color:#ffffff">R$ {{total_sold}}</h3>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
          <div class="card-body">
            <h5 class="card-title" style="color:#ffffff">TOTAL DE VENDAS</h5>
            <h6 class="card-subtitle" style="color:#ffffff">{{start_date}} à {{end_date}}</h6>
            <hr>
            <h3 class="card-title" style="color:#ffffff">{{total_sales}} vendas</h3>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-success o-hidden h-100">
          <div class="card-body">
            <h5 class="card-title" style="color:#ffffff">TOTAL DE CLIENTES</h5>
            <h6 class="card-subtitle" style="color:#ffffff">Número de clientes</h6>
            <hr>
            <h3 class="card-title" style="color:#ffffff">{{total_clients}} clientes</h3>
          </div>
          
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-danger o-hidden h-100">
          <div class="card-body">
<!--             <div class="card-body-icon">
              <i class="fa fa-fw fa-support"></i>
            </div> -->
            <h5 class="card-title" style="color:#ffffff">ENCOMENDAS PENDENTES</h5>
            <h6 class="card-subtitle" style="color:#ffffff">Entregas pendentes</h6>
            <hr>
            <h3 class="card-title" style="color:#ffffff">{{orders_not_delivered}} encomendas</h3>
          </div>
          
        </div>
      </div>
    </div>
    


    <hr>

    <!-- Area Chart Example-->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-area-chart"></i>Vendas por produtos</div>
      <div class="card-body">
          <div id="calendar"></div>
      </div>
    </div>

    
        
  </div> 
  
  


{% endblock %}